openapi: 3.1.0
info:
  title: Kanroji Google Tasks Bridge
  version: 0.2.2
  description: Personal-use MVP bridge for Google Tasks through Google Apps Script.
servers:
  - url: https://script.google.com/macros/s/AKfycbzwvxsV6KmS68Ntdsn3C4bserFCU1pFZPzICpSXabwX0UTE5B00LHTpzdTaWb-DqUxn
paths:
  /exec:
    get:
      operationId: healthCheck
      summary: Check whether the Apps Script Web App is reachable
      description: Returns a JSON health response without calling the Google Tasks API.
      responses:
        '200':
          description: JSON health response from Apps Script bridge
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                    description: Whether the Web App endpoint is reachable.
                  service:
                    type: string
                    description: Service identifier.
                  version:
                    type: string
                    description: Bridge version deployed in Apps Script.
                  status:
                    type: string
                    description: Health status.
                  deploymentHint:
                    type: string
                    description: Manual deployment check hint.
    post:
      operationId: googleTasksBridge
      summary: Execute Google Tasks bridge action
      description: Execute health_check, list_today_tomorrow, create_task, update_due, or audit_snapshot. health_check does not call the Google Tasks API.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - secret
                - action
              properties:
                secret:
                  type: string
                  description: Secret stored in Apps Script Script Properties as KANROJI_TASKS_SECRET.
                action:
                  type: string
                  description: Action to execute.
                  enum:
                    - health_check
                    - list_today_tomorrow
                    - create_task
                    - update_due
                    - audit_snapshot
                title:
                  type: string
                  description: Required for create_task. Must use format 邸名｜行動.
                  example: 山田邸｜業者見積依頼
                due:
                  type: string
                  description: Required for create_task and update_due. Format YYYY-MM-DD.
                  example: '2026-05-14'
                notes:
                  type: string
                  description: Optional notes for create_task.
                taskId:
                  type: string
                  description: Required for update_due.
      responses:
        '200':
          description: JSON response from Apps Script bridge
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  ok:
                    type: boolean
                    description: Whether the operation succeeded.
                  error:
                    type: string
                    description: Error code when ok is false.
                  reason:
                    type: string
                    description: More specific failure reason when available.
                  message:
                    type: string
                    description: Optional message.
                  service:
                    type: string
                    description: Service identifier for health and error responses.
                  version:
                    type: string
                    description: Bridge version deployed in Apps Script.
                  status:
                    type: string
                    description: Health status for health_check.
                  deploymentHint:
                    type: string
                    description: Manual deployment check hint for health_check.
                  timezone:
                    type: string
                    description: Timezone used by the bridge.
                  generatedAt:
                    type: string
                    description: Generation timestamp.
                  tasks:
                    type: array
                    description: Task list for list_today_tomorrow.
                    items:
                      type: object
                      additionalProperties: true
                  task:
                    type: object
                    description: Created or updated task.
                    additionalProperties: true
                  todayTomorrow:
                    type: array
                    description: Today and tomorrow tasks for audit_snapshot.
                    items:
                      type: object
                      additionalProperties: true
                  datelessCandidates:
                    type: array
                    description: Dateless task candidates for audit_snapshot.
                    items:
                      type: object
                      additionalProperties: true
                  warnings:
                    type: array
                    description: Warnings from audit_snapshot.
                    items:
                      type: string
