openapi: 3.1.0
info:
  title: Kanroji Google Tasks Bridge
  version: 0.1.1
  description: Personal-use MVP bridge for operating Google Tasks through Google Apps Script.
servers:
  - url: https://script.google.com/macros/s/AKfycbzwvxsV6KmS68Ntdsn3C4bserFCU1pFZPzICpSXabwX0UTE5B00LHTpzdTaWb-DqUxn/exec
paths:
  /:
    post:
      operationId: googleTasksBridge
      summary: Execute a Google Tasks bridge action
      description: Execute one of list_today_tomorrow, create_task, update_due, or audit_snapshot. For create_task, title and due are required. For update_due, taskId and due are required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleTasksBridgeRequest'
      responses:
        '200':
          description: JSON response from Apps Script bridge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeResponse'
components:
  schemas:
    GoogleTasksBridgeRequest:
      type: object
      additionalProperties: false
      required:
        - secret
        - action
      properties:
        secret:
          type: string
          description: Secret stored in Apps Script Script Properties as KANROJI_TASKS_SECRET.
        action:
          type: string
          description: Action to execute.
          enum:
            - list_today_tomorrow
            - create_task
            - update_due
            - audit_snapshot
        title:
          type: string
          description: Required only for create_task. Task title must use the format 邸名｜行動.
          examples:
            - 山田邸｜業者見積依頼
        due:
          type: string
          description: Required for create_task and update_due. Due date in YYYY-MM-DD format.
          pattern: '^\\d{4}-\\d{2}-\\d{2}$'
          examples:
            - '2026-05-14'
        notes:
          type: string
          description: Optional notes for create_task.
        taskId:
          type: string
          description: Required only for update_due. Google Tasks task ID.
    Task:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        notes:
          type: string
        due:
          type: string
        status:
          type: string
        updated:
          type: string
    BridgeResponse:
      type: object
      properties:
        ok:
          type: boolean
        error:
          type: string
        message:
          type: string
        timezone:
          type: string
        generatedAt:
          type: string
        dueMin:
          type: string
        dueMax:
          type: string
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        task:
          $ref: '#/components/schemas/Task'
        todayTomorrow:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        datelessCandidates:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        warnings:
          type: array
          items:
            type: string
